{:customREPLCommandSnippets
 [{:name "Refresh REPL"
   :key "x"
   :snippet (clojure.tools.namespace.repl/refresh)}
  {:name "Refresh-all REPL"
   :key "x+"
   :snippet (do (require 'clj-reload.core)
                (clj-reload.core/reload))}
  {:name "Unalias all NS"
   :key "ns-"
   :snippet (map (partial ns-unalias *ns*) (keys (ns-aliases *ns*)))}
  {:name "Run all (loaded in REPL) test namespaces"
   :key "t+"
   :snippet (do (require 'clojure.java.io 'kaocha.repl)
                (let [config-file (clojure.java.io/file (format "%s/.config/kaocha/%s" (System/getenv "HOME") "tests.edn"))]
                  (kaocha.repl/run-all {:config-file config-file})))}
  {:name "Run namespace tests"
   :key "tk+"
   :snippet (do (require 'clojure.java.io 'kaocha.repl)
                (let [config-file (clojure.java.io/file (format "%s/.config/kaocha/%s" (System/getenv "HOME") "tests.edn"))]
                  (kaocha.repl/run '$ns {:profile :vvv
                                         :config-file config-file})))}
  {:name "Run current test"
   :key "tk"
   :snippet (do (require 'clojure.java.io 'kaocha.repl)
                (let [config-file (clojure.java.io/file (format "%s/.config/kaocha/%s" (System/getenv "HOME") "tests.edn"))]
                  (kaocha.repl/run {:profile :vvv
                                    :config-file config-file} #'$top-level-defined-symbol )))}
  {:name "Run tests on current namespace"
   :key "t"
   :snippet (do
              (swap! dev.repl/devmeta assoc :last-test '$ns)
              (clojure.test/run-tests '$ns))}
  {:name "Run last test"
   :key "tl"
   :snippet (do
              (let [last-test (get-in @dev.repl/devmeta [:last-test])
                    runner (if (var? last-test) clojure.test/run-test-var clojure.test/run-tests)]
                (runner last-test)))}
  {:name "Run single test"
   :key "t-"
   :snippet (do
              (swap! dev.repl/devmeta assoc :last-test #'$top-level-defined-symbol)
              (clojure.test/run-test-var #'$top-level-defined-symbol))}
  {:name "Run usage tests"
   :key "tu"
   :snippet (do
              (require 'dev.calva)
              (dev.calva/test-usages (symbol #'$top-level-defined-symbol)))}]}
