{:customREPLCommandSnippets
 [{:name "Refresh REPL"
   :key "x"
   :snippet (do (require 'clj-reload.core)
                (clj-reload.core/reload))}
  {:name "Refresh-all REPL"
   :key "x+"
   :snippet (do (require 'clj-reload.core)
                (clj-reload.core/reload))}
  {:name "Unalias all NS"
   :key "ns-"
   :snippet (map (partial ns-unalias *ns*) (keys (ns-aliases *ns*)))}
  {:name "Run all test namespaces"
   :key "tk+"
   :snippet (do (require 'dev.repl)
                (dev.repl/run-all-tests))}
  {:name "Kaocha: Run current test"
   :key "tk-"
   :snippet (do (require 'dev.repl)
                (dev.repl/run-single-test #'$top-level-defined-symbol ))}
  {:name "Kaocha: Run namespace tests"
   :key "tk"
   :snippet (do (require 'dev.repl)
                (dev.repl/run-multiple-test '$ns))}
  {:name "Kaocha: Run last test"
   :key "tkr"
   :snippet (do (require 'dev.repl)
                (dev.repl/run-last-test))}
  {:name "Lint"
   :key "tl"
   :snippet (do (require 'dev.repl)
                (dev.repl/lint!))}
  {:name "Lint namespace"
   :key "tl-"
   :snippet (do (require 'dev.repl)
                (dev.repl/lint! '$ns))}
  {:name "Run tests on current namespace"
   :key "t"
   :snippet (do
              (swap! dev.repl/devmeta assoc :last-test '$ns)
              (clojure.test/run-tests '$ns))}
  {:name "Run last test"
   :key "tr"
   :snippet (do
              (let [last-test (get-in @dev.repl/devmeta [:last-test])
                    runner (if (var? last-test) clojure.test/run-test-var clojure.test/run-tests)]
                (runner last-test)))}
  {:name "Run single test"
   :key "t-"
   :snippet (do
              (swap! dev.repl/devmeta assoc :last-test #'$top-level-defined-symbol)
              (clojure.test/run-test-var #'$top-level-defined-symbol))}
  {:name "Run usage tests"
   :key "tu"
   :snippet (do
              (require 'dev.calva)
              (dev.calva/test-usages (symbol #'$top-level-defined-symbol)))}]}
