{:customREPLCommandSnippets
 [{:name "Refresh REPL"
   :key "x"
   :snippet (clojure.tools.namespace.repl/refresh)}
  {:name "Refresh-all REPL"
   :key "x+"
   :snippet (do (map (partial ns-unalias *ns*) (keys (ns-aliases *ns*))) (clojure.tools.namespace.repl/refresh-all))}
  {:name "Unalias all NS"
   :key "ns-"
   :snippet (map (partial ns-unalias *ns*) (keys (ns-aliases *ns*)))}
  {:name "Run all (loaded in REPL) test namespaces"
   :key "t+"
   :snippet (kaocha.repl/run-all {:config-file (format "%s/.config/kaocha/tests.edn" (System/getenv "HOME"))})}
  {:name "Run tests on current namespace"
   :key "t"
   :snippet (clojure.test/run-tests '$ns)}
  {:name "Run single test"
   :key "t-"
   :snippet (clojure.test/run-test-var #'$top-level-defined-symbol)}
  {:name "Portal: Open"
   :key "ps"
   :snippet (do
              (require '[portal.viewer :as v]
                       '[portal.api :as p]
                       '[tapp.core :as tapp])
              (p/open {:launcher :vs-code})
              (.addShutdownHook
               (Runtime/getRuntime)
               (Thread. (fn [] (p/close))))
              (add-tap #'p/submit))}
  {:name "Portal: Clear"
   :key "pc-"
   :snippet (do
              (require '[portal.api :as p])
              (p/clear))}
  {:name "Portal: Close"
   :key "pc"
   :snippet (do
              (require '[portal.api :as p])
              (p/close))}]}
